.mainform{
    width:16em;
    padding: 1em 2em;
}
.form-info{
    flex-direction: column;
    display:flex;
   margin: 10em;
}
label{
    width:16em
}
input, textarea {
    width:25em;
    padding: 1em 2em;
    border-radius: 0.9em;
}
body{
    background-image: url('greenfaded.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
