body {font-family: "Times New Roman", Times, serif;}
p {font-size: 12px;}
p:first-letter{text-transform: capitalize;}
code{
border-radius: 6px;
color:rgb(243, 243, 247);
display:block;
font: 14px/24px "source code pro",inconsolate;
padding: 24px 15px;
text-align: center;

background-image: url('Assets/Images/cyanbckgrd.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 1%;
text-align: center;


}
